*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: white;
font-family: 'Open Sans', sans-serif;
}
p{
    color:#727272;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
/* ------------------this is header part ------------------------*/
.nav-title{
    list-style: none;
    display: grid;
    grid-template-columns: 5fr repeat(4,1fr) 2fr;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    margin-left: 100px;
}
.nav-title 
#heading{
    font-size: 45px;
}
.description{
    text-align: center;
    font-size: 15px;
}
.description h3{
    font-size: 30px;
}
.description p{
   margin: 20px 400px;
}
.btn{
    background-color: #FF900E;
    border-style: none;
    border-radius: 2px;
    padding:20px 20px;
    color: white;
}
.banner{
   background-image: url('images/banner.png');
   padding:200px 50px 200px 50px;
   margin: 100px;
    border-radius: 5px;
   background-size: cover;
}
/* ------main section-------- */
main{
    background-color: white;
}
.sub-meeting{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 24px;
   
}
.sub-meeting img{
   
width: 340px;
}
.meeting{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    gap: 48px;
    margin-left: 100px;
}
.meeting-description p{
    margin-top: 24px;
    margin-bottom: 32px;
}
.meeting-description .meeting-color{
    color: #727272;
}
.meeting-description .meeting-color2{
    color: #FF900E;
}
.sub-section-margin{
height: 100px;
width: 1px;
border: 1px solid #FF900E;
text-align: start;
}
.sub-section-margin h3{
    margin-left: 20px;
   width: 500px;
   font-size: 2.2rem;
   text-align: center;
}

.experience{
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    margin: 100px 100px 100px 100px;
    background-color:white;
    height: 600px;
    gap: 20px;
}
.experience-description{
    display: grid;
   grid-template-rows: auto;
}
.sub-section{
    font-size: 12px;
}
.experience-child{
    font-size: 13px;
    background-color:white;
    padding: 15px 50px 15px 15px;
    border: 1px solid white;
    margin:5px;
    width: 600px;
    -webkit-box-shadow: 0 0 7px rgb(158, 155, 155);
    box-shadow: 0 0 7px rgb(158, 155, 155);
}
 .experience .sub-section{
    grid-column: 1/2;
 }
 .experience .experience-img{
    grid-column: 3/4;
    grid-row: 1/4;
    height: 580px;
    width: 560px;
    position: relative;
 }
 .experience .experience-description{
    grid-column: 1/2;
 }
 .experience-img img{
    height: 600px;
    width: 100%;
    padding: 0 0 50px 100px;
  }
   .btn-special{
    width: 300px;
    height: 150px;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    bottom:250px;
  }

.facts-description{
    margin-left: 100px;
    
}
.facts-description h3{
    font-size: 30px;
}
  /* ---footer section------- */
.footer-title{
text-align: center;
}
.f-blogs{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
   gap: 5px;
   margin-left: 100px;
   margin-top: 50px;

}
.fact-block{
    padding: 75px 20px 75px 20px;
    border: 1px solid #FF900E ;
}
.fact-blocks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 75px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  
}
.fact-block:hover{
    transform: scale(.60) rotate(45deg);
    background-color: rgb(0, 183, 255);
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

.f-blogs img{
    height: 30px;
    width: 100px;
    -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
}
.fact-ancor{
    display: grid;
    grid-template-columns:  1fr;
    place-items: center;
    text-decoration: none;
}
.f-title{
    text-align: center;
    margin: 20px 50px 100px 50px;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 10px 2px 10px 2px;
    border-radius: 5px;
}
.footer{
margin-top: 75px;
}
/* media query and breakdown section */
@media only screen and (max-width: 576px) {
    
    .nav-title{
        display: flex;
        flex-direction: column;
        gap: 10px;
       margin: 0;
    }
   .description p{

    margin: 0 0 10px 0;
    padding: 0;
   }
   .banner{
    background-size: cover;
    padding:75px 10px 75px 10px;
    border-radius: 1px;
   background-size: cover;
   }
   .meeting{
    display: flex;
    flex-direction: column;
    gap: 10px;
 
   margin-left: 10px;
   }
   .sub-meeting{
    display: flex;
    flex-direction: column;
    gap: 10px;
   } 

  .experience{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin: 0 2px 0 0;
    align-items: center;
   }
   .experience img{
    background-size: cover;
    padding:75px 10px 75px 10px;
    border-radius: 1px;
   background-size: cover;
   width: 100%;
   height: 100%;
   }
.experience-description{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        height: 100%;
}

.btn .btn-special{
   margin-left: 50%;
}
.f-blogs{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.fact-blocks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.service{
    margin-bottom: 10px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

}